<div class="sidebar" fxLayout="column" fxLayoutGap="24px" [ngClass]="isSidebarOpened ? 'is-opened' : 'is-closed'">
  <div class="logo-container" fxLayout="row" fxLayoutAlign="start center"
    [ngClass]="isSidebarOpened ? 'is-opened' : 'is-closed'">
    <div class="logo-icon" fxLayoutAlign="center center">
      <img src="./assets/img/logo-icon.png" alt="">
    </div>
    <div class="logo-text" fxLayoutAlign="center center" *ngIf="isSidebarOpened">
      <img src="./assets/img/logo-text.png" alt="">
    </div>
  </div>

  <div fxFlex="auto" class="navigation" fxLayout="column" fxLayoutGap="2px">
    <span class="nav-item-container" *ngFor="let item of dashboardNav">

        <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="nav-item"
          (click)="handleClick(item)"
          [ngClass]="{'active': isActive(item.link)}">
          <span class="icon" fxLayoutAlign="center center">
            <img *ngIf="item.imgSrc; else matIconTpl" [src]="item.imgSrc" class="nav-svg-icon" />
            <ng-template #matIconTpl><mat-icon>{{ item.icon }}</mat-icon></ng-template>
          </span>
          <span class="label" *ngIf="isSidebarOpened">{{ item.label }}</span>
          <mat-icon *ngIf="item.children">{{ item.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </span>

        <div class="dropdown-menu" *ngIf="item.children && item.isOpen" fxLayout="column" fxLayoutGap="2px">
          <span class="nav-item-container" *ngFor="let child of item.children">
           <span class="nav-item child-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"
              (click)="handleClick(child)"
              [ngClass]="{'active': isActive(child.link)}">
              <span class="icon" fxLayoutAlign="center center">
                <mat-icon>{{ child.icon }}</mat-icon>
              </span>
              <span class="label" *ngIf="isSidebarOpened">{{ child.label }}</span>
              <mat-icon *ngIf="child.children">{{ child.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </span>

            <div class="dropdown-menu dropdown-menu--level3" *ngIf="child.children && child.isOpen"
              fxLayout="column" fxLayoutGap="2px">
              <span class="nav-item grandchild-item" *ngFor="let grandchild of child.children"
                fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"
                [routerLink]="grandchild.link"
                routerLinkActive="active">
                <span class="icon" fxLayoutAlign="center center"
                  [ngClass]="{'icon-active': isActive(grandchild.link)}">
                  <mat-icon>{{ grandchild.icon }}</mat-icon>
                </span>
                <span class="label" *ngIf="isSidebarOpened">{{ grandchild.label }}</span>
              </span>
            </div>

          </span>
        </div>
    </span>
  </div>

  <div class="btn-logout" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" (click)="logout()">
    <span class="icon" fxLayoutAlign="start center"><mat-icon>business</mat-icon></span>
    <span *ngIf="isSidebarOpened">{{ currentUser?.organization?.name }}</span>
  </div>
</div>