.container {
    height: 70px;
    padding: 0 40px;
    background: #FFF;
    border-bottom: 1px solid #E7E8F2;
}

.logo-container {
    padding-right: 16px;
    border-right: 1px solid #A7A9C020;

    .logo-icon {
        width: 64px;

        img {
            width: 100%;
        }
    }

    .logo-text,
    .logo-icon {
        height: 64px;

        img {
            display: block;
        }
    }

    &.is-opened {
        width: calc(300px - 40px);
    }

    &.is-closed {
        width: auto;
    }
}

.title {
    color: #33343D;
    font-size: 22px;
    font-weight: 600;
}

.user-and-notif-container {
    mat-icon {
        color: #A7A9C0;
        cursor: pointer;
    }

    .config-icon,
    .message-icon {
        width: 70px;
        height: 70px;

        border-right: 1px solid #A7A9C020;
    }

    .config-icon {
        border-left: 1px solid #A7A9C020;
    }

    .user-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
    }

    .name {
        color: #25233A;
        font-size: 15px;
        font-weight: 400;
    }

    .role {
        color: #8B8C99;
        font-size: 12px;
        font-weight: 400;
    }
}