<div class="container" fxFlex="100" fxLayout="row">
    <div class="" fxFlex="100" fxLayout="row" fxLayoutGap="26px">
        <div class="logo-container" fxLayout="row" fxLayoutAlign="start center">
            <div class="logo-icon">
                <img src="../../../../assets/img/logo-icon.png" alt="">
            </div>
            <div class="logo-text">
                <img src="../../../../assets/img/logo-text.png" alt="">
            </div>
        </div>
        <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Aperçu</span>
            <div class="user-and-notif-container" fxLayout="row" fxLayoutGap="24px">
                <div fxLayout="row">
                    <span class="config-icon" fxLayoutAlign="center center"><mat-icon
                            fxLayoutAlign="center center">settings</mat-icon></span>
                    <span class="message-icon" fxLayoutAlign="center center"><mat-icon fxLayoutAlign="center center">
                            email</mat-icon></span>
                </div>
                <div class="user-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
                    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
                        <div class="user-img">
                            <img src="../../../../assets/img/user-img.png" alt="">
                        </div>
                        <div class="user-detail" fxLayout="column" fxLayoutAlign="center start">
                            <span class="name">Awa FALL</span>
                            <span class="role">RRH/DG/PDG</span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <span class="icon-dropdown"><mat-icon>arrow_drop_down</mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>