.container {
    height: 70px;
    padding: 0 5%;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #E7E8F2;

}

.logo-container {
    width: 321px;
    border-right: 2px solid #A7A9C020;

    img {
        display: block;
    }
}

.title {
    color: #33343D;
    font-size: 22px;
    font-weight: 600;
}

.user-and-notif-container {
    mat-icon {
        color: #A7A9C0;
        cursor: pointer;
    }

    .config-icon,
    .message-icon {
        width: 70px;
        height: 70px;

        border-right: 2px solid #A7A9C020;
    }

    .config-icon {
        border-left: 2px solid #A7A9C020;
    }

    .user-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
        }
    }

    .name {
        color: #25233A;
        font-size: 15px;
        font-weight: 400;
    }

    .role {
        color: #8B8C99;
        font-size: 12px;
        font-weight: 400;
    }
}