.form-container {
    padding: 32px 32px 50px;
    border-radius: 10px;
    border: 1px solid #E7E8F2;
    background: var(--Blanc, #FFF);

    .title {
        color: var(--Primary, #001F60);
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.16px;
        text-align: left;
    }

    .form-control {
        padding-left: 24px;
    }

    // .submit {
    //     width: max-content;
    // }
}