<div class="container">
    <div class="page-wrapper" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center center">
        <div class="illustration">
            <img src="../../../../assets/img/photo-senum.png" alt="">
        </div>
        <div class="text" fxLayout="column" fxLayoutGap="40px">
            <span class="title-with-curvligne" fxLayout="column">
                <span class="title-with-curvligne--white">
                    rejoignez-nous en vous
                </span>
                <span class="title-with-curvligne--green">
                    abonnant à notre newsletter
                </span>
            </span>
            <label fxLayout="row" fxLayoutAlign="start center">
                <input type="text" fxFlex="auto" placeholder="Votre adresse email">
                <span class="btn-abonner" fxLayoutAlign="center center">S’abonner</span>
            </label>
        </div>
    </div>
</div>