<div class="page-wrapper" fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="40px">
    <div fxFlex="auto" fxLayout="column" fxLayoutGap="18px">
        <div fxLayout="row" fxLayoutGap="19px">
            <div class="search-container" fxFlex="auto" fxLayoutAlign="start center">
                <mat-icon class="icon" fxLayoutAlign="center center">search</mat-icon>
                <input type="text" class="form-control" placeholder="Recherche">
            </div>
            <div fxLayout="row" fxLayoutGap="19px">
                <button class="btn btn-primary">Importer un fichier</button><button class="btn btn-primary"
                    routerLink="/dashboard/collaborators/create-collaborator">Ajouter un
                    collaborateur</button>
            </div>
        </div>
        <div class="table-wrapper" fxLayout="column" fxLayoutGap="32px">
            <table class="table">
                <tr class="titles-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <th class="title" fxFlex="16.6" fxLayoutAlign="start center">Entreprise</th>
                    <th class="title" fxFlex="16.6" fxLayoutAlign="center center">Collaborateur</th>
                    <th class="title" fxFlex="16.6" fxLayoutAlign="center center">Telephone</th>
                    <th class="title" fxFlex="16.6" fxLayoutAlign="center center">Date de création</th>
                    <th class="title" fxFlex="16.6" fxLayoutAlign="center center">Actions</th>
                </tr>
                <tr class="user" fxLayout="row" fxLayoutAlign="space-between center" *ngFor=" let req of requests">
                    <td class="radio-container" fxFlex="16.6" fxLayoutAlign="start center" fxLayout="row"
                        fxLayoutGap="16px">
                        <span class="radio active" fxLayoutAlign="center center"></span>
                        <span>Agiltoo</span>
                    </td>
                    <td class="name" fxFlex="16.6" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <div class="circle" fxLayoutAlign="center center">AC</div>
                        <span>LAURENT DIOP</span>
                    </td>
                    <td class="solde" fxFlex="16.6" fxLayoutAlign="center center">76 303 03 40</td>
                    <td class="date" fxFlex="16.6" fxLayoutAlign="center center">06-06-2022</td>
                    <td fxFlex="16.6" fxLayoutAlign="end center">
                        <div fxFlex="100" class="dropdown " appDropdown="dropdown-action">
                            <span fxLayout="row" class="btn-edit-statut">
                                <span class="text" fxFlex="auto" fxLayout="row" fxLayoutGap="8px"
                                    fxLayoutAlign="center center"><span>Action</span><span
                                        class="statut statut--valid"></span></span>
                                <mat-icon class="dropdown-icon"
                                    fxLayoutAlign="center center">keyboard_arrow_down</mat-icon>
                            </span>
                            <div class="dropdown-content dropdown-content-filter" id="dropdown-action">
                                <div class="dropdown-option" fxLayout="row" fxLayoutAlign="space-between center">Validée
                                    <span class="statut statut--valid"></span>
                                </div>
                                <div class="dropdown-option" fxLayout="row" fxLayoutAlign="space-between center">Rejetée
                                    <span class="statut statut--rejected"></span>
                                </div>
                                <div class="dropdown-option" fxLayout="row" fxLayoutAlign="space-between center">En
                                    attente
                                    <span class="statut statut--pending"></span>
                                </div>
                                <div class="dropdown-option" fxLayout="row" fxLayoutAlign="space-between center">Annulée
                                    <span class="statut statut--cancel"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="legends" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <div class="valid" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Validé (88)</div>
                </div>
                <div class="rejected" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Rejeté (32)</div>
                </div>
                <div class="pending" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">En attente (13)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-current-user">
        <app-user-details></app-user-details>
    </div>
</div>