<div class="container" fxLayoutAlign="center center">
  <div class="form-wrapper" fxLayout="column" fxLayoutGap="60px" fxLayoutGap.lt-sm="40px">
    <div class="logo-container" fxLayoutAlign="center start">
      <img src="../../../assets/img/group-logo.png" alt="">
    </div>
    <form #form="ngForm" (ngSubmit)="login(form)" class="form-container" fxLayout="column" fxLayoutGap="40px"
      fxLayoutGap.lt-sm="32px">
      <div fxLayout="column" fxLayoutGap="24px">
        <label class="form-group" fxLayout="column" fxLayoutGap="8px">
          <span class="label">Email</span>
          <input type="email" placeholder="entrer votre adresse mail" name="email" ngModel required="">
        </label>
        <div fxLayout="column" fxLayoutGap="16px">
          <label class="form-group form-group--password " fxLayout="column" fxLayoutGap="8px">
            <span class="label">Mot de passe</span>
            <div fxLayoutAlign="end center">
              <input [type]="hidePassword?'password':'text'" placeholder="entrer votre mot de passe" name="password"
                ngModel required="">
              <span class="toggle-password-visibility"
                (click)="hidePassword=!hidePassword"><mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon></span>
            </div>
          </label>
          <div fxLayoutAlign="end center">
            <span class="pass-forgotten">Mot de passe oublié ?</span>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid">Se connecter</button>
    </form>
  </div>
</div>