<div class="container" fxLayout="row" fxLayoutGap="55px">
  <div fxFlex="30">
  </div>
    <mat-card fxFlex="40" class="card-global">
      <mat-card-content>
        <div>
          <a routerLink="" class="logo" fxLayoutAlign="center">
            <img src="../../../../assets/img/image-header.svg" alt="" />
          </a>
        </div>
        <div class="form-container">
          <form #form="ngForm">
            <span class="text-intro">
              Bienvenue à nouveau. Saisissez vos identifiants pour accéder à votre compte
            </span>
            <div class="form-group mt-form" [ngClass]="
                emailInput.invalid && (emailInput.dirty || emailInput.touched)
                  ? 'erreur'
                  : ''
              ">
              <label for="email">Email</label>
              <input class="input-border" type="email" id="email" name="email" #emailInput="ngModel"
                [(ngModel)]="user.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                placeholder="mymail@example.com" required />
              <!-- Message d'erreur -->
              <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
                <div *ngIf="emailInput.errors.required">L'email est requis.</div>
                <div *ngIf="emailInput.errors.pattern">L'email n'est pas valide.</div>
              </div>
            </div>

            <div class="form-group form-group--password mt-form" [ngClass]="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
            ? 'erreur'
            : ''">
              <label for="password" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Mot de passe</span>
                <span class="btn-oublie">Forget Password</span>
              </label>
              <input [type]="hidePassword ? 'password' : 'text'" id="password" name="password" #passwordInput="ngModel"
                [(ngModel)]="user.password" required minlength="6" class="input-border" placeholder="****************"
                 required>
              <button (click)="togglePasswordVisibility()">
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
              <!-- Message d'erreur -->
              <div *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        " class="error-message">
                <div *ngIf="passwordInput.errors.required">
                  Le mot de passe est requis.
                </div>
              </div>
            </div>
            <div class="form-group mt">
              <!--checkbox-->
              <label for="checkbox" class="form-group--checkbox" fxLayout="row" fxLayoutGap="8px"
                fxLayoutAlign="start center" fxFlex="auto">
                <input type="checkbox" id="checkbox" name="checkbox" [(ngModel)]="user.checkbox" />
                <span class="checkmark"></span>
                <span> Garder ma session ouverte</span>
              </label>

            </div>
            <div class="form-group mt">
              <button class="btn-submit">Se Connecter</button>
            </div>

          </form>
        </div>
        <div style="margin-bottom: 3%;" class="mt" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="4px">
          <label> Vous n'avez pas de compte ?<a href="" style="font-weight: 400;">S'inscrire</a>
          </label>
        </div>
      </mat-card-content>
    </mat-card>
  


  <div fxFlex="30">
  </div>
</div>