<div class="page-wrapper notif-list-container">
    <div class="notif" fxLayout="column" fxLayoutGap="13px" *ngFor=" let notif of notfis">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <span class="notif-title">Demande N°021</span>
            <span class="date-and-destinatary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <span class="date">Aujoud'hui</span>
                <span class="separator"></span>
                <span class="collobator">par Youssouph Ndiaye</span>
            </span>
        </div>
        <div class="notif-content text-on-2-line">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Lorem
            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Lorem ipsum dolor sit
            amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
        </div>
    </div>
</div>