<div style="display: flex;gap:5px;  color: #11167a;font-size: 16px;">
    
    <a routerLink="/dashboard/collaborators" > <span>{{"<"}}</span>retour</a>
</div>

<h2 class="container-title-setting"><span>{{title}}</span></h2>

<div class="creation-compte">
  <form class="form" [formGroup]="collaboratorForm" (ngSubmit)="submitForm()">
    <div class="form-row">
      <div class="form-row" style="width: 49%">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom" formControlName="firstName"  placeholder="Nom" />
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" formControlName="lastName" placeholder="Prénom" />
        </div>
      </div>
      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" id="matricule" formControlName="uniqueIdentifier" value="215789" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="date-naissance" formControlName="birthDate">Date de naissance</label>
        <input type="date" id="date-naissance" value="1978-09-12" />
      </div>
      <div class="form-group">
        <label for="salaire">Salaire</label>
        <input type="text" formControlName="salary" id="salaire" value="175000" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="email" id="email" formControlName="email" placeholder="adresse@email.com" />
      </div>
      <div class="form-group">
        <label for="categorie">Choisir la catégorie socioprofessionnelle</label>
        <select id="categorie" formControlName="categorySocioProId">
          <option value="">choisir une Catégorie socioprofessionnelle</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="tel" id="telephone" formControlName="phoneNumber" placeholder="+221 77 000 0000" />
      </div>
      <div class="form-group">
        <label for="mobile-money">Mobile money favori</label>
        <select id="mobile-money" formControlName="favoriteWallet">
            <option value="" disabled selected>Mobile money favori</option>
            <option *ngFor="let wallet of MobileMoney" [value]="wallet">{{wallet}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="width: 50%">
      <label for="adresse">Adresse postale</label>
      <input formControlName="address" type="text" id="adresse" placeholder="Adresse postale" />
    </div>
    <div class="form-group">
        <div class="form-row">

      <button type="submit" class="submit-button">Enregistrer</button>
      <button *ngIf="collaboratorId" class="submit-button">Suspendre</button>
        </div>
    </div>
  </form>
</div>
