<form *ngIf="collaboratorForm" [formGroup]="collaboratorForm" class="form-container form-container-card" fxLayout="column" fxLayoutGap="57px">
    <span class="title">{{formText}}</span>
    <div fxLayout="column" fxLayoutGap="38px">
        <div fxLayout="row" fxLayoutGap="32px">
            <div class="wrapper" fxFlex="50" fxLayout="column" fxLayoutGap="38px">
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="prenom">Prénom</label>
                    <input formControlName="firstName" type="text" id="prenom" class="form-control" placeholder="John">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="nom">Nom</label>
                    <input formControlName="lastName" type="text" id="nom" class="form-control" placeholder="Doe">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="address">Adresse mail</label>
                    <input formControlName="email" type="text" id="address" class="form-control" placeholder="john@gmail.com">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="phone">Tél</label>
                    <input formControlName="phoneNumber" type="text" id="phone" class="form-control" placeholder="+221 77 000 00 00">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="code-postal">Adresse postale</label>
                    <input formControlName="address" type="text" id="code-postal" class="form-control" placeholder="">
                </div>
            </div>
            <div class="wrapper" fxFlex="50" fxLayout="column" fxLayoutGap="38px">
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="fonction">Fonction</label>
                    <input formControlName="position" type="text" id="fonction" class="form-control">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="unique-id">Identifiant unique</label>
                    <input formControlName="uniqueIdentifier" type="text" id="unique-id" class="form-control">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="salary">Salaire</label>
                    <input formControlName="salary" type="text" id="salary" class="form-control">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="nbr-compte">N° Compte Cofina</label>
                    <input formControlName="bankAccountNumber" type="text" id="nbr-compte" class="form-control">
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <label for="nbr-wizzal">N° Compte Wizall</label>
                    <input formControlName="wizallAccountNumber" type="text" id="nbr-wizzal" class="form-control">
                </div>

            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="38px" *ngIf="formType=='edit'">
            <button fxFlex="50" class="btn btn-primary">Sauvegarder</button>
            <button fxFlex="50" class="btn btn-form-default">Suspendre</button>
        </div>
        <div *ngIf="formType=='create'">
            <button class="submit" fxFlex="50" (click)="submitForm()">Envoyé</button>
        </div>
    </div>
</form>
