<div class="container">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="80px">
        <div fxLayoutAlign="start start">
            <span class="title-with-arrow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <span>Hubs de vie</span>
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </span>
        </div>
        <div class="hubs" fxLayout="row wrap">
            <div class="hub" fxFlex="32" *ngFor="let hub of hubList">
                <app-hub-card [hub]="hub"></app-hub-card>
            </div>
        </div>
    </div>
</div>