.container {
    padding: 87px 5% 115px;
    background-color: #fff;

    background-image: url('../../../../assets/img/background-hubs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.hubs {
    display: grid;
    gap: 2%;

    .hub {

        margin-bottom: 40px;
    }
}