.container {
    padding: 60px 5%;
}



.text {
    max-width: 588px;
    padding-top: 30px;
}

.image {
    max-width: 550px;

    img {
        width: 100%;
        display: block;
    }
}

.description {
    color: var(--text, #404040);

    /* text */
    font-size: 14px;
    font-weight: 400;
}

.liste {
    // list-style-type: disc;
    padding-left: 16px;

    .item {
        list-style: disc;
        color: var(--text, #404040);

        /* BUTTON */
        font-size: 14px;
        font-weight: 700;
    }
}