<div class="container">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="80px">
        <div fxLayoutAlign="start start">
            <span class="title-with-arrow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <span>Hubs de vie</span>
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="40px">
            <div class="text" fxLayoutAlign="start start">
                <div fxLayout="column" fxLayoutGap="30px">
                    <div class="title-with-curvligne" fxLayout="column">
                        <span class="title-with-curvligne--green">Présentation des apps</span>
                        <span class="title-with-curvligne--black">(Rendez-vous,
                            Sengec...)</span>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                        vel facilisis.</div>
                    <ul class="liste" fxLayout="column">
                        <li class="item">Rendez-vous</li>
                        <li class="item">Senegec</li>
                    </ul>
                </div>
            </div>
            <div class="image">
                <div class="img-wrapper">
                    <img src="./assets/img/img-presentation.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>