<div class="container">
    <div class="wrapper mt" fxLayout="column" fxLayoutGap="45px">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4px">
          
            <div fxLayout="row">
              <button class="btn btn-bl" routerLink="/auth/login" routerLinkActive="active">
                Se Connecter</button>
                <button
                class="btn btn-br"
                routerLink="/auth/register"
                routerLinkActive="active"
              >
                S'inscrire
              </button>
            </div>
          </div>

    </div>
    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>
