<div class="container">
  <div class="container-title-setting">
    <span>Avance sur salaire remboursable mensuellement</span>
  </div>
  <div class="avance-evenement-container">
    <!-- Section Activation du service -->
    <div class="section flex-center">
      <h3>Activation du service</h3>
      <app-toggle-slide
        [firstText]="'Actif'"
        [secondText]="'Inactif'"
        [value]="(activated ?? false)"
        [uniqueId]="'serviceActivation'"
        (toggleChange)="onServiceActivationChange($event)"
      ></app-toggle-slide>
    </div>
    <div class="toggle-side" [ngClass]="{ grise: !activated }">
      <div class="activation-date">
        <label style="margin-bottom: 19px; padding: 0 12px"
          >Date d'activation</label
        >
        <div class="date-inputs">
          <label style="margin-bottom: 19px; padding: 0 12px" for=""
            >Date de début</label
          >
          <div class="date-input">
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                [matDatepicker]="startPicker"
                formControlName="startDate"
                placeholder="Date de début"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
              <mat-error *ngIf="startDate === null">
                La date de début est requise.
              </mat-error>
            </mat-form-field>
          </div>
          <label style="margin-bottom: 19px; padding: 0 12px" for=""
            >Date de fin</label
          >
          <div class="date-input">
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                [matDatepicker]="endPicker"
                formControlName="endDate"
                placeholder="Date de fin"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
              <mat-error *ngIf="endDate === null">
                La date de fin est requise.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Section des paramètres -->
      <div class="section">
        <div class="category-input-group">
          <input
            type="text"
            class="category-input"
            [(ngModel)]="newCategory"
            placeholder="Nom de la catégorie"
          />
          <button class="category-btn" (click)="addCategory()">
            Ajouter une catégorie
          </button>
        </div>

        <mat-tab-group
          animationDuration="0ms"
          (selectedTabChange)="onTabChange($event)"
        >
          <mat-tab
            *ngFor="let categorie of categories"
            [label]="categorie?.title"
          >
            <app-setting
              [categorie]="categorie"
              (settingChange)="onSettingChange($event)"
            ></app-setting>
          </mat-tab>
        </mat-tab-group>
      </div>
      <button (click)="saveSettings()" class="validate-btn">Valider</button>
    </div>
    <!-- Liste des événements prévus -->
  </div>
</div>
