<div class="form-container modal" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="43px">
  <div class="close" (click)="cancel()">
    <mat-icon>close</mat-icon>
  </div>
  <span class="title">Reset password</span>
  <div *ngIf="message" fxFill class="color-success">{{ message }}</div>
  <form *ngIf="formGroup" [formGroup]="formGroup" fxLayout="column" fxFill fxLayoutAlign="start start" fxLayoutGap="36px">
    <div fxFill class="form-group" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <label>Email <span class="color-danger">*</span></label>
      <input formControlName="email" class="form-control" placeholder="Enter the account email">
    </div>
    <div fxFill fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="20px">
      <button class="btn btn-form-default" (click)="cancel()">No, cancel</button>
      <button class="btn btn-form-primary" (click)="requestPasswordReset()">Request password reset</button>
    </div>
  </form>
</div>
