<div style="display: flex; gap: 5px; color: #11167a; font-size: 16px; margin-bottom: 20px;">
    <a routerLink="/dashboard/society"><span>{{ "<" }}</span>retour</a>
</div>

<div class="data-first-preview" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="dashboard-title"></span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
            <div class="current-time-interval" fxLayout="row" fxLayoutAlign="start center">
                <span class="value" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center"><span>{{ startDate |
                        frenchDate }}</span> <span>au</span>
                    <span>{{ endDate | frenchDate }}</span></span>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="dropdown">
                    <span class="icon" #btnToggleDropdownDate (click)="toggleMenuFilterDate()">
                        <mat-icon fxLayoutAlign="center center">keyboard_arrow_down</mat-icon>
                    </span>
                    <form [formGroup]="metricsInput" class="dropdown-content" id="filter-date-dropdown"
                        *ngIf="isMenuFilterOpen" #dropdownContent>
                        <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                            <label for="debut">Du</label>
                            <input formControlName="startDate" type="date" id="debut" />
                        </div>
                        <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                            <label for="fin">Au</label>
                            <input formControlName="endDate" type="date" id="fin" />
                        </div>
                    </form>
                </div>
            </div>
            <span class="dashboard-title">Filtrer</span>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="40px">
    <div fxFlex="auto" class="org-balance-container" fxLayout="column" fxLayoutGap="16px">
        <div class="top" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="balance-label">Solde actuel</span>

            <div class="btn-filter" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="data-image" fxLayoutAlign="center center"
                    [ngStyle]="{ border: '2px solid ' + balanceData.style }">
                    <img [src]="balanceData.path" alt="" />
                </div>
            </div>
        </div>
        <span *ngIf="organization" class="top value">{{ organization.balance | number : '1.0-0':'fr-FR' }} XOF</span>
    </div>
</div>

<div class="page-wrapper" style="display: flex; flex-direction: column; background-color: white;
    padding: 5px; margin-top: 30px; ">
    <div class="data-first-preview" fxLayout="column" fxLayoutGap="32px">
        <div class="chart-container" *ngIf="metricsData">
            <app-operation-charts [metricsData]="metricsData"></app-operation-charts>
        </div>
    </div>
</div>

<div class="page-wrapper" style="
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin-top: 30px;
  ">
    <div fxFlex="auto" fxLayout="column" fxLayoutGap="18px">

        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="example-table" matSort>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="title" style="text-align: center">
                        Montant
                    </th>

                    <td mat-cell *matCellDef="let row" class="advance" style="width: 17%">
                        <div style="display: flex; justify-content: center; align-items: center; gap: 6px;">
                            <span class="statut statut--credit" [ngClass]="{
                                'statut--credit': row?.type?.toLowerCase() === 'credit',
                                'statut--debit': row?.type?.toLowerCase() === 'debit'}">
                            </span>
                            <span>{{ row?.amount | number : '1.0-0':'fr-FR' }} Xof</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="title"
                        style="text-align: center; justify-content: center;">
                        Date
                    </th>
                    <td mat-cell *matCellDef="let row" style="text-align: center; justify-content: center;">
                        <span>{{ row?.createdAt | date : "dd-MM-YYYY" }} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef class="title"
                        style="text-align: center; justify-content: center;">
                        Opération
                    </th>

                    <td mat-cell *matCellDef="let row" style="text-align: center; justify-content: center;">
                        {{ row?.operation }}
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" aria-label=""></mat-paginator>
        </div>

    </div>
</div>