<div class="page-wrapper" fxLayout="column" fxLayoutGap="50px">
    <div class="data-first-preview" fxLayout="column" fxLayoutGap="32px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="dashboard-title">Echéances Avance sur salaire</span>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
                <div class="time-interval">
                    <span class="current-time-interval" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                        <span class="value" fxLayoutAlign="start center">Du 1 jan 2022 au 31dec 2022</span>
                        <mat-icon fxLayoutAlign="center center">arrow_drop_down</mat-icon>
                    </span>
                </div>
                <span class="dashboard-title">Filtrer</span>
            </div>
        </div>
        <div class="card-data-container" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start start">
            <div class="data-card" fxLayout="row" fxLayoutAlign="space-between start" *ngFor="let card of cardPrevData">
                <div fxLayout="column">
                    <div>
                        <span class="label">{{card.label}}</span>
                    </div>
                    <div fxLayout="column">
                        <span class="devis" *ngIf="card.devis">{{card.devis}}</span>
                        <span class="value" *ngIf="card.value">{{card.value}}</span>
                    </div>
                </div>
                <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':card.color}">
                    <img [src]="card.img" alt="">
                </div>
            </div>
        </div>
        <div class="chart-container" style="outline: 1px solid red;">
            <!-- <google-chart [data]="pieChart"></google-chart> -->
            <google-chart [data]="chartData.dataTable">
            </google-chart>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="40px">
        <div fxFlex="auto" class="user-list-container" fxLayout="column" fxLayoutGap="16px">
            <div class="top" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="nbr-user">Utilisateurs enregistrés (40.000)</span>
                <div class="dropdown dropdown-filter" [appDropdown]="'dropdown-filter-user-list-saved'">
                    <div class="btn-filter" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="icon" fxLayoutAlign="center center"><mat-icon
                                fxLayoutAlign="center center">filter_list</mat-icon></span>
                        <span class="text">Filtrer</span>
                    </div>
                    <div class="dropdown-content" id="dropdown-filter-user-list-saved">
                        <div class="dropdown-option">Nouveaux utilisateurs inscrits récemment</div>
                        <div class="dropdown-option">Utilisateurs avec les avances en cours</div>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr class="titles-container" fxLayout="row">
                    <th class="title" fxFlex="20" fxLayoutAlign="start center">Entreprise</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Collaborateur</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Solde</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Date</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Avance sur salaire</th>
                </tr>
                <tr class="user" fxLayout="row" *ngFor=" let user of userList;let i=index">
                    <td class="radio-container" fxFlex="20" fxLayoutAlign="start center" fxLayout="row"
                        fxLayoutGap="16px">
                        <span class="radio active" fxLayoutAlign="center center"></span>
                        <span>Agiltoo</span>
                    </td>
                    <td class="name" fxFlex="20" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <div class="circle" fxLayoutAlign="center center">AC</div>
                        <span>LAURENT DIOP</span>
                    </td>
                    <td class="solde" fxFlex="20" fxLayoutAlign="center center">XOF 475.000</td>
                    <td class="date" fxFlex="20" fxLayoutAlign="center center">06-06-2022</td>
                    <td class="advance" fxFlex="20" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center"><span
                            class="statut statut--valid"></span><span>Xof 100000</span></td>
                </tr>
            </table>
            <div class="legends" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <div class="valid" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Validé (88)</div>
                </div>
                <div class="rejected" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Rejeté (32)</div>
                </div>
                <div class="pending" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">En attente (13)</div>
                </div>
            </div>
        </div>
        <div class="info-current-user">
            <app-user-details></app-user-details>
        </div>
    </div>
</div>