<div class="page-wrapper" fxLayout="column" fxLayoutGap="50px">
    <div class="data-first-preview" fxLayout="column" fxLayoutGap="32px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="dashboard-title">Echéances Avance sur salaire</span>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
                <div class="current-time-interval" fxLayout="row" fxLayoutAlign="start center">
                    <span class="value" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center"><span>Du 1 jan
                            2024</span> <span>au</span>
                        <span>31 dec 2024</span></span>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="dropdown">
                        <span class="icon" #btnToggleDropdownDate (click)="toggleMenuFilterDate()">
                            <mat-icon fxLayoutAlign="center center">keyboard_arrow_down</mat-icon>
                        </span>
                        <div class="dropdown-content" id="filter-date-dropdown" *ngIf="isMenuFilterOpen"
                            #dropdownContent>
                            <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                                <label for="debut">Du</label>
                                <input type="date" id="debut">
                            </div>
                            <div class="dropdown-option" fxLayout="column" fxLayoutGap="8px">
                                <label for="fin">Au</label>
                                <input type="date" id="fin">
                            </div>
                        </div>
                    </div>
                </div>
                <span class="dashboard-title">Filtrer</span>
            </div>
        </div>
        <div class="card-data-container" fxLayout="row wrap" fxLayoutAlign="start start">

            <div class="data-card" fxLayout="column" fxFlex="23" fxFlex.lt-lg="31" fxFlex.lt-sm="100" fxFlex.lt-md="48">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="label">Nombre de demandes en attente (actifs)</div>
                    <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':'#061E5C'}">
                        <img [src]="'./assets/img/data-preview-img1.svg'" alt="">
                    </div>
                </div>
                <span class="value">{{nbPending}}</span>
            </div>

            <div class="data-card" fxLayout="column" fxFlex="23" fxFlex.lt-lg="31" fxFlex.lt-sm="100" fxFlex.lt-md="48">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="label">Nombre de remboursements restants</div>
                    <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':'#FFC708'}">
                        <img [src]="'./assets/img/data-preview-img2.svg'" alt="">
                    </div>
                </div>
                <span class="value">{{nbValid}}</span>
            </div>

            <div class="data-card" fxLayout="column" fxFlex="23" fxFlex.lt-lg="31" fxFlex.lt-sm="100" fxFlex.lt-md="48">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="label">Montant total des demandes</div>
                    <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':'#40B139'}">
                        <img [src]="'./assets/img/data-preview-img3.svg'" alt="">
                    </div>
                </div>
                <span class="value">{{totalDemandeAmount}}</span>
            </div>

            <div class="data-card" fxLayout="column" fxFlex="23" fxFlex.lt-lg="31" fxFlex.lt-sm="100" fxFlex.lt-md="48">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="label">Nombre d’inscrits</div>
                    <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':'#F41414'}">
                        <img [src]="'./assets/img/data-preview-img4.svg'" alt="">
                    </div>
                </div>
                <span class="value">{{nbActifUsers}}</span>
            </div>

            <div class="data-card" fxLayout="column" fxFlex="23" fxFlex.lt-lg="31" fxFlex.lt-sm="100" fxFlex.lt-md="48">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="label">Montant remboursements restants</div>
                    <div class="data-image" fxLayoutAlign="center center" [ngStyle]="{'background-color':'#FFC708'}">
                        <img [src]="'./assets/img/data-preview-img2.svg'" alt="">
                    </div>
                </div>
                <span class="value">{{totalDemandeToPay}}</span>
            </div>

        </div>
        <div class="chart-container" *ngIf="metricsData">
            <app-refund-charts [metricsData]="metricsData"></app-refund-charts>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="40px">
        <div fxFlex="auto" class="user-list-container" fxLayout="column" fxLayoutGap="16px">
            <div class="top" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="nbr-user">Utilisateurs enregistrés ({{ nbActifUsers }})</span>
                <div class="dropdown dropdown-filter" [appDropdown]="'dropdown-filter-user-list-saved'">
                    <div class="btn-filter" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="icon" fxLayoutAlign="center center"><mat-icon
                                fxLayoutAlign="center center">filter_list</mat-icon></span>
                        <span class="text">Filtrer</span>
                    </div>
                    <div class="dropdown-content" id="dropdown-filter-user-list-saved">
                        <div class="dropdown-option">Nouveaux utilisateurs inscrits récemment</div>
                        <div class="dropdown-option">Utilisateurs avec les avances en cours</div>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr class="titles-container" fxLayout="row">
                    <th class="title" fxFlex="20" fxLayoutAlign="start center">Entreprise</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Collaborateur</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Solde</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Date</th>
                    <th class="title" fxFlex="20" fxLayoutAlign="center center">Avance sur salaire</th>
                </tr>
                <tr class="user" fxLayout="row" *ngFor=" let req of collabs;let i=index">
                    <td class="radio-container" fxFlex="20" fxLayoutAlign="start center" fxLayout="row"
                        fxLayoutGap="16px">
                        <span (click)="selectCollab(req)"
                            class="radio {{ selectedCollab?.id === req.id ? 'active' : '' }}"
                            fxLayoutAlign="center center"></span>
                        <span>{{ req?.organization?.name }}</span>
                    </td>
                    <td class="name" fxFlex="20" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <div class="circle" fxLayoutAlign="center center">{{ req?.firstName[0] }}{{ req?.lastName[0] }}
                        </div>
                        <span>{{ req?.firstName }} {{ req?.lastName }}</span>
                    </td>
                    <td class="solde" fxFlex="20" fxLayoutAlign="center center">XOF {{ req?.balance }}</td>
                    <td class="date" fxFlex="20" fxLayoutAlign="center center">{{ req?.createdAt | date : 'YYYY-MM-dd'
                        }}</td>
                    <td class="advance" fxFlex="20" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center"><span
                            class="statut statut--{{ getLastRequest(req.id)?.status | lowercase }}"></span><span>{{
                            getLastRequest(req.id)?.amount ? 'XOF' :'' }} {{ getLastRequest(req.id)?.amount || '__'
                            }}</span></td>
                </tr>
            </table>
            <div class="legends" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <div class="valid" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Validé ({{ nbValid }})</div>
                </div>
                <div class="rejected" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">Rejeté ({{ nbRejected }})</div>
                </div>
                <div class="pending" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <span class="color"></span>
                    <div class="nbr">En attente ({{ nbPending }})</div>
                </div>
            </div>
        </div>
        <div class="info-current-user">
            <app-user-details [user]="selectedCollab"></app-user-details>
        </div>
    </div>
</div>