.data-first-preview {
    .dashboard-title {
        color: #33343D;
        font-size: 18px;
        font-weight: 500;
    }

    .time-interval {


        .current-time-interval {
            height: 35px;
            color: #33343D;
            font-size: 12px;
            font-weight: 500;
            background-color: #FFFFFF;
            border-radius: 4px;
            padding-right: 10px;
            cursor: pointer;

            .value {
                height: 100%;
                padding: 0 16px 0 10px;
                border-right: 1px solid #E7E8F2;
            }

            mat-icon {
                color: #E7E8F2;
            }
        }
    }

    .card-data-container {
        max-width: 100%;
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            display: none;
        }


        .data-card {
            border-radius: 8px;
            background: #FFF;
            box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);

            min-width: 282.038px;
            height: 177.21px;
            padding: 16px;

            .label {
                color: rgba(0, 0, 0, 0.50);
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
            }

            .devis,
            .value {
                color: #000;

                font-family: Poppins;
                font-size: 23px;
                font-weight: 600;
            }

            .data-image {
                width: 60px;
                min-width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }
}

.user-list-container {

    padding: 40px 0 24px;
    border-radius: 6px;
    border: 1px solid #E7E8F2;
    background: var(--Blanc, #FFF);

    .top,
    .titles-container {
        padding: 0 32px;
    }

    .nbr-user {
        color: var(--Primary, #061E5C);

        /* h2 semibold */
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        /* 21.6px */
        letter-spacing: 0.09px;
    }

    .dropdown-filter {
        .btn-filter {
            height: 42px;
            width: 128px;
            padding: 0 12px;


            border-radius: 4px;
            border: 1px solid #979797;
            background: var(--Blanc, #FFF);
            cursor: pointer;

            .icon {
                color: #CCD2E3;
            }

            .text {
                color: #33343D;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
            }
        }

        .dropdown-content {
            top: calc(100% + 4px);
            border-radius: 4px;
            border: 1px solid #979797;
            border-bottom: none;
            background: var(--Blanc, #FFF);
            padding: 0;


            .dropdown-option {
                border-bottom: 1px solid #979797;
                padding: 8px 18px;
            }
        }
    }

    .title {
        color: var(--Primary, #061E5C);
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
    }

    .user {
        padding: 22px 32px;
        border-bottom: 1px solid #E7E8F2;

        .name,
        .solde,
        .date,
        .advance,
        .company {
            color: #33343D;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
        }

        .company {
            color: var(--Noir, #000040);

            .circle {
                width: 14px;
                height: 14px;
                border: 1px solid #061E5C;
                border-radius: 50%;

                .active {
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: #061E5C;
                    border-radius: 50%;
                }
            }
        }

        .name {
            .circle {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: rgba(6, 30, 92, 0.50);

                color: var(--Blanc, #FFF);
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    .legends {
        .nbr {
            color: var(--Noir, #000);

            /* error */
            font-family: Poppins;
            font-size: 11px;
            font-weight: 400;
            line-height: 120%;
            /* 13.2px */
            letter-spacing: 0.055px;
        }

        .color {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }

        .valid {
            .color {
                background-color: #40B139;
            }
        }

        .rejected {
            .color {
                background-color: #F41414;
            }
        }

        .pending {
            .color {
                background-color: #FFC708;
            }
        }
    }
}

.info-current-user {
    max-width: 263px;
    width: 100%;
}