<div class="container">
    <div class="page-wrapper">
        <div class="caroussel" appSlickCarousel fxLayout="column" fxLayoutGap="52px">
            <div class="slide" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="150px">
                <div fxFlex="50" fxLayoutAlign="end center">
                    <div class="text-slide" fxLayout="column" fxLayoutGap="50px">
                        <div fxLayout="column" fxLayoutGap="30px">
                            <span class="title-with-curvligne" fxLayout="column">
                                <span class="title-with-curvligne--green">Vos démarches administratives</span>
                                <span class="title-with-curvligne--black">avec vous, partou !</span>
                            </span>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna
                                aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                                lacus
                                vel facilisis.</div>
                        </div>
                        <span class="btn-demarche" fxLayoutAlign="center center">Faire une démarche</span>
                    </div>
                </div>
                <div fxFlex="50">
                    <div class="image-slide"
                        [ngStyle]="{'background-image':'url('+'../../../../assets/img/image-caroussel.png'+')'}">
                    </div>
                </div>
            </div>
            <div class="slide-control" fxLayoutAlign="center center">
                <ul class="indicatore" fxLayoutAlign="center center" fxLayoutGap="12px">
                    <li class="item" *ngFor="let slide of nbrSlide;let i=index"
                        [ngClass]="i+1==currentSlideActive?'active':''"></li>
                </ul>
                <div class="caroussel-action" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <span class="btn prev" fxLayoutAlign="center center"><mat-icon>chevron_left</mat-icon></span>
                    <span class="btn next" fxLayoutAlign="center center"><mat-icon>chevron_right</mat-icon></span>
                </div>
            </div>
        </div>
    </div>
</div>