<div class="page-wrapper" style="
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
  ">
  <div style="display: flex; gap: 35px; margin: 20px 10px; justify-content: space-between;
        align-items: center;">
    <h2 class="container-title-setting">
      <span>{{ title }}</span>
    </h2>
    <!-- <app-organization-file [organisationServiceId]="organisationServiceId" [startDate]="startDate"
      [endDate]="endDate"></app-organization-file> -->
    <div style="width: 25%">
      <button class="btn btn-primary" fxLayoutAlign="center center" fxLayoutGap="8px" style="
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;" (click)="addSocity()">
        <mat-icon fxLayoutAlign="center center">add_circle_outline</mat-icon><span style="font-size: 13px">Ajouter
          une institution financière </span>
      </button>
    </div>
  </div>
</div>