<form *ngIf="formGroup && !resetSuccess" [formGroup]="formGroup" #form="ngForm" class="form-container" fxLayout="column"
  fxLayoutGap="40px">
  <div fxLayout="column" fxLayoutGap="32px">
    <span class="title" fxLayoutAlign="center center">Réinitialisation de votre mot de passe</span>
    <div class="separator"></div>
  </div>
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutGap.lt-sm="32px">
    <div fxLayout="column" fxLayoutGap="24px">
      <div fxFill class="form-group" fxLayout="column" fxLayoutGap="8px">
        <label class="label">New password </label>
        <div fxLayoutAlign="end center">
          <input [type]="hidePassword?'password':'text'" formControlName="newPassword" class="form-control"
            placeholder="New password">
          <span class="icon-control"><mat-icon>lock_open</mat-icon></span>
          <span class="toggle-password-visibility"
            (click)="hidePassword=!hidePassword"><mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon></span>
        </div>
      </div>
      <div fxFill class="form-group" fxLayout="column" fxLayoutGap="8px">
        <label class="label">Confirmation de votre mot de passe </label>
        <div fxLayoutAlign="end center">
          <input [type]="hideConfirmPassword?'password':'text'" formControlName="confirmPassword" class="form-control"
            placeholder="Confirm password">
          <span class="icon-control"><mat-icon>lock_open</mat-icon></span>
          <span class="toggle-password-visibility"
            (click)="hideConfirmPassword=!hideConfirmPassword"><mat-icon>{{hideConfirmPassword?'visibility_off':'visibility'}}</mat-icon></span>
        </div>
      </div>
      <div *ngIf="formError" class="color-danger">{{ formError }}</div>
    </div>
    <button class="submit" (click)="resetPassword()">Request password reset</button>
  </div>
</form>
<app-success-page *ngIf="resetSuccess" [message]="message" link="/auth/login" buttonText="Login"></app-success-page>