<div class="container">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="80px">
        <div fxLayoutAlign="start start">
            <span class="title-with-arrow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <span>La carte géolocalisée des ESS (Interactive)</span>
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div class="geolocation-wrapper" fxFlex="55" fxLayoutAlign="end start">
                <div class="geolocation" [ngStyle]="{'background-image':'url('+'./assets/img/map-image.png'+')'}"></div>
            </div>
            <div class="geolocation-text" fxFlex="45" fxLayout="column" fxLayoutGap="40px">
                <span class="title">
                    Géolocalisation des ESS
                </span>
                <div class="description" fxLayout="column" fxLayoutGap="16px">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl
                        ut aliquip ex ea commodo consequat.</p>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat
                        nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                        zzril delenit augue duis
                        dolore te feugait nulla facilisi.</p>
                </div>
                <span class="btn-plus" fxLayoutAlign="center center">En savoir +</span>
            </div>
        </div>
    </div>
</div>