 .top {
   background: #F5F5F5;
   padding: 62px 5% 40px;
 }

 .bottom {
   background-color: #fff;
   padding: 32px 5%;

 }

 .separator {
   width: 100%;
   border-bottom: 2px solid #F2F2F2;
 }

 .title {
   color: #3C3C3D;

   /* BUTTON */
   font-size: 14px;
   font-weight: 700;
 }

 .item {
   color: #6A6A6A;

   /* text */
   font-size: 14px;
   font-weight: 400;
 }