<div class="container">
  <div class="top">
    <div class="page-wrapper" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="logo">
        <img src="./assets/img/logo-senum-footer.svg" alt="logo senum">
      </div>
      <div fxLayout="column" fxLayoutGap="16px">
        <span class="title">Nous connaître</span>
        <div class="list" fxLayout="column" fxLayoutGap="10px">
          <a class="item" *ngFor="let item of weKnow" [routerLink]="item.url">{{item.label}}</a>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="16px">
        <span class="title">Ressources</span>
        <div class="list" fxLayout="column" fxLayoutGap="10px">
          <a class="item" *ngFor="let item of ressoures" [routerLink]="item.url">{{item.label}}</a>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="16px">
        <span class="title">Nos engagements</span>
        <div class="list" fxLayout="column" fxLayoutGap="10px">
          <a class="item" *ngFor="let item of ourCommitments" [routerLink]="item.url">{{item.label}}</a>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="16px">
        <span class="title">Autres</span>
        <div class="list" fxLayout="column" fxLayoutGap="10px">
          <a class="item" *ngFor="let item of others" [routerLink]="item.url">{{item.label}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="32px">
      <div class="links" fxLayoutAlign="center center" fxLayoutGap="30px">
        <a class="title" *ngFor="let item of ourLinks" [routerLink]="item.url">{{item.label}}</a>
      </div>
      <div class="separator"></div>
      <div class="item" fxLayoutAlign="center start">© 2024 Sénégal Services — Conception : Sénégal Numérique SA
      </div>
    </div>
  </div>
</div>