<div style="margin-bottom: 10px">
  <div class="dropdown" appDropdown="downlod-dropdown">
    <button
      class="btn btn-primary"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
      style="width: 100%"
    >
      <mat-icon fxLayoutAlign="center center">cloud_download</mat-icon
      ><span>Importer un fichier</span>
    </button>
    <div class="dropdown-content" id="downlod-dropdown">
      <form enctype="multipart/form-data">
        <label
          for="file_input_demande"
          class="dropdown-option"
          fxLayout="column"
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; "
        >
          <div class="icon">
            <img src="./assets/img/icon-upload.png" alt="" />
          </div>
          <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center">
            <span class="type">Importer</span>
            <span class="format">Format accepté : csv</span>
          </div>
        </label>
        <input
          type="file"
          (change)="uploadDemande($event)"
          accept=".csv"
          style="display: none"
          id="file_input_demande"
        />
      </form>
      <button
        (click)="downloadDemande()"
        class="dropdown-option"
        fxLayout="column"
        fxLayoutGap="16px"
        fxLayoutAlign="start center"
      >
        <div class="icon">
          <img src="./assets/img/icon-download.png" alt="" />
        </div>
        <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center">
          <span class="type">Télécharger le format</span>
          <span class="format">template.csv</span>
        </div>
      </button>
    </div>
  </div>
</div>
