.container {
    padding: 80px 5%;
}

.text {
    max-width: 547px;
}

.illustration {
    height: 630.118px;

    img {
        width: 100%;
        display: block;
    }
}

.btn-link-app {
    width: 180px;
    height: 52px;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    overflow: hidden;

}