<div class="container">
    <div class="page-wrapper" fxLayout="column" fxLayoutGap="80px">
        <div fxLayoutAlign="start start">
            <span class="title-with-arrow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <span>Applications Mobiles</span>
                <img src="./assets/img/arrow-right.svg" alt="arrow right">
            </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div class="text" fxLayout="column" fxLayoutGap="124px">
                <div fxLayout="column" fxLayoutGap="24px">
                    <div class="title-with-curvligne" fxLayout="column">
                        <span>
                            <span class="title-with-curvligne--green">Nos applications mobiles </span>
                            <span class="title-with-curvligne--black">avec</span>
                        </span>
                        <span class="title-with-curvligne--black">vous, partout !</span>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna
                        aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                        vel
                        facilisis.</div>
                </div>
                <div fxLayout="row" fxLayoutGap="25px">
                    <div class="btn-link-app"
                        [ngStyle]="{'background-image':'url('+'../../../../assets/img/app-store.png'+')'}"></div>
                    <div class="btn-link-app"
                        [ngStyle]="{'background-image':'url('+'../../../../assets/img/google-play.png'+')'}"></div>
                </div>

            </div>
            <div class="illustration">
                <img src="../../../../assets/img/image-app-mobile.png" alt="">
            </div>
        </div>
    </div>
</div>