.container {
    cursor: pointer;
}

.actu-cover {
    height: 182px;
    border-radius: 10px;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.actu-detail {
    .title {
        color: var(--text, #404040);

        /* sub title */
        font-size: 20px;
        font-weight: 700;
    }

    .creation {
        color: var(--text, #404040);

        /* date */
        font-size: 12px;
        font-weight: 400;
    }

}